@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #fff;
}

/* Pie de Página */

.logo{
    width: 100px;
}

.pie-pagina{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 45px 0 ;
}

.pie-pagina .grupo-1 .box figure{
    display: grid;
    place-items: center;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
}

.pie-pagina .grupo-1 .box p{
    color: #979797; 
    /* text-align: justify; */   
}

.pie-pagina .grupo-1 .box .redes-sociales a{
    display: inline-block; 
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #009fe3; 
    /* margin-right: 10px; */  
    background-color: #0d2033;
    text-align: center;
    transition: all 30ms ease-in;
}

.pie-pagina .grupo-1 .box .redes-sociales a:hover{
    color: white;
}

/* Atributos */

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: black;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%; 
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0 ;
    }
}
